@font-face {
  font-family: 'Noto Sans KR';
  src: './fonts/NotoSansKR.otf';
}

body {
  margin: 0;
}

div {
  font-family: 'Noto Sans KR' !important;
}

a {
  text-decoration: none;
  color: inherit;
}
